</main>
<footer class="footer">
    <div class="footer-inner">
        <div class="footer-copyright"> <small>&copy; {{ now.Format "2006" }} &middot; {{ .Site.Title }}</small></div>
        <div class="footer-socials">
            <div class="footer-logo">
                <img src="/brand/favicon-light.svg" alt="{{ .Site.Title }}" title="PDS Logo" class="footer-logo-light" width="24" height="24">
                <img src="/brand/favicon-dark.svg" alt="{{ .Site.Title }}" title="PDS Logo" class="footer-logo-dark hide" width="24" height="24">
            </div>
            <a href="//github.com/petrin-dev" target="_blank" rel="noopener" title="GitHub">
                <img src="/icons/github-svgrepo-com.svg" alt="PDS GitHub" title="PDS GitHub" class="icon icon-light" width="24" height="24">
            </a>
            <a href="//www.linkedin.com/company/petrin-dev/" target="_blank" rel="noopener" title="GitHub">
                <img src="/icons/linkedin-svgrepo-com.svg" alt="PDS LinkedIn" title="PDS LinkedIn" class="icon icon-light" width="24" height="24">
            </a>
            <a href="//instagram.com/petrin-dev" target="_blank" rel="noopener" title="GitHub">
                <img src="/icons/instagram-seeklogo.com.svg" alt="PDS Instagram" title="PDS Instagram" class="icon icon-light" width="24" height="24">
            </a>
        </div>
    </div>
</footer>