<footer class="footer">
    <div class="footer-inner">
        <div class="footer-socials">
            <a href="//github.com/petrin-dev" target="_blank" rel="noopener" title="GitHub">
                <img src="/icons/github-svgrepo-com.svg" alt="PDS GitHub" class="icon icon-light" width="24" height="24">
            </a>
        </div>
        <div class="footer-copyright"> <small>&copy; {{ now.Format "2006" }} &middot; {{ .Site.Title }}</small></div>
        <div class="footer-logo">
            <img src="/brand/favicon-light.svg" alt="{{ .Site.Title }}" class="footer-logo-light" width="24" height="24">
            <img src="/brand/favicon-dark.svg" alt="{{ .Site.Title }}" class="footer-logo-dark hide" width="24" height="24">
        </div>
    </div>
</footer>