<input class="open-sidebar-menu" id="open-sidebar-menu" type="checkbox" />
<label class="sidebar-icon-toggle" for="open-sidebar-menu" title="Sidebar Toggle">
  <div class="spinner diagonal part-1"></div>
  <div class="spinner horizontal"></div>
  <div class="spinner diagonal part-2"></div>
</label>
<div id="sidebar-menu">
  <ul class="sidebar-menu-inner">
    <li><a href="/" title="Home">Home</a></li>
    <li><a href="/services" title="Services">Services</a></li>
    <!-- <li><a href="/portfolio" title="Portfolio">Portfolio</a></li> -->
    <li><a href="/about" title="About">About</a></li>
    <li><a href="/blog" title="Blog">Blog</a></li>
    <li class="start-a-project"><a href="#start-a-project" onclick="return startProject()" title="Start a Project">Start a Project</a></li>
  </ul>
</div>