<header class="header-wrap" role="banner">
    <div class="header">
        <a class="logo-wrap" href="{{ .Site.BaseURL }}" alt="{{ .Site.Title }}">
            <img src="/brand/logo-light.svg" alt="{{ .Site.Title }}" class="logo-light">
            <img src="/brand/logo-dark.svg" alt="{{ .Site.Title }}" class="logo-dark hide">
        </a>
      <nav>
        <ul>
          <li><a href="/services">Services</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a class="button button-inverted" href="#start-a-project">Start a Project</a></li>
        </ul>
      </nav>
      <a href="#" id="mode-toggle" class="color-toggle show-moon no-select" title="Color Mode Toggle">
        <img src="/icons/sun-svgrepo-com.svg" alt="Toggle Light Mode" class="icon icon-light" width="20" height="40">
        <img src="/icons/crescent-moon-svgrepo-com.svg" alt="Toggle Dark Mode" class="icon icon-light" width="20" height="40">
      </a>
    </div>
</header>
<main>