<header class="header-wrap" role="banner">
    <div class="header">
        <a class="logo-wrap" href="{{ .Site.BaseURL }}" alt="{{ .Site.Title }}" title="Homepage">
            <img src="/brand/logo-light.svg" alt="{{ .Site.Title }}" class="logo-light" title="PDF Logo">
            <img src="/brand/logo-dark.svg" alt="{{ .Site.Title }}" class="logo-dark hide" title="PDS Logo">
        </a>
      <nav>
        <ul>
          <li><a href="/services" title="Services">Services</a></li>
          <!-- <li><a href="/portfolio" title="Portfolio">Portfolio</a></li> -->
          <li><a href="/about" title="About">About</a></li>
          <li><a href="/blog" title="Blog">Blog</a></li>
          <li><a class="button button-inverted" href="#start-a-project" title="Start a Project">Start a Project</a></li>
        </ul>
      </nav>
      <a href="#" id="mode-toggle" class="color-toggle show-moon no-select" title="Color Mode Toggle">
        <img src="/icons/sun-svgrepo-com.svg" alt="Toggle Light Mode" title="Toggle Light Mode" class="icon icon-light" width="20" height="40">
        <img src="/icons/crescent-moon-svgrepo-com.svg" alt="Toggle Dark Mode" title="Toggle Dark Mode" class="icon icon-light" width="20" height="40">
      </a>
    </div>
</header>
<main>