<div class="hero-services">
	<ul>
		<li>
			<a href="/services#design" title="Digital & Brand Design Solution">
                <img src="/icons/palette-svgrepo-com.svg" alt="Design" class="icon icon-dark" width="64" height="64">
			</a>
			<h2 class="hero-services-heading">Digital & Brand Design Solution</h2>
			<p class="hero-services-subheading">Create a modern identity that perfectly reflects your brand.</p>
		</li>
		<li>
			<a href="/services#development" title="Full-Stack Web Development">
                <img src="/icons/code-svgrepo-com.svg" alt="Development" class="icon icon-dark" width="64" height="64">
			</a>
			<h2 class="hero-services-heading">Full-Stack Web Development</h2>
			<p class="hero-services-subheading">Front-end and back-end, leveraging modern CMS tecÓhnologies.</p>
		</li>
		<li>
			<a href="/services#hosting" title="Pay-As-You-Scale Web Hosting">
                <img src="/icons/server-svgrepo-com.svg" alt="Hosting" class="icon icon-dark" width="64" height="64">
			</a>
			<h2 class="hero-services-heading">Pay-As-You-Scale Web Hosting</h2>
			<p class="hero-services-subheading">Lighting-fast hosting worldwide, conveniently priced by usage.</p>
		</li>
		<li>
			<a href="/services#growth" title="Insight-Driven Marketing Scale">
                <img src="/icons/magnifying-glass-svgrepo-com.svg" alt="Marketing" class="icon icon-dark" width="64" height="64">
			</a>
			<h2 class="hero-services-heading">Insight-Driven Marketing Scale</h2>
			<p class="hero-services-subheading">Monitor session data and cater your strategy to your user's behavior.</p>
		</li>
	</ul>
</div>